@charset "UTF-8";

/* 기본색 */
:root {
    --main-color: #A7BBC7;
    --list-color: #BF6A7A;
    --point-color: #DA7F8F;
    --board-color: #FAF3F3;
    --disabled-color: #D1D1D2;
}
/* 기본 설정: 페이지 전체*/
html,
body {
    background-color:var(--main-color);
    font-family: 'Noto Sans KR', sans-serif;
}

.month {
    margin-bottom:3px;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    font-weight:bold;
    color:#bcbcbc
}

.day {
    font-family: 'Roboto', sans-serif;
    font-size:35px;
    font-weight:bolder
}

/* 투두 보드 */
.board {
    width:300px;
    height:500px;
    background-color:var(--board-color);
    border-radius:30px;
    margin:10% auto;
    padding:46px;
    overflow-y:auto;
}

.wrap {
    width:100%;
    height:100%;
    position:relative;
}


.progress-bar.done {
    width:0%;
    height:8px;
    background-color:#DA7F8F;
    border-radius:20px;
    margin-top:15px;
}
/*animation: progressbar 2s ease-out;*/

.progress-bar {
    width:100%;
    height:8px;
    background-color: #d2c0c4;
    border-radius:20px;
    margin-top:15px;
}

.list-area {
    margin-top:40px
}

.list-area .list {
    font-size:12px;
    padding:5px 12px;
    border-radius:10px;
    background-color:#E1E5EA;
    margin-bottom:13px;
    display:flex;
}

.list-area .list.done {
    font-size:12px;
    padding:5px 12px;
    border-radius:10px;
    background-color:#D1D1D2;
    margin-bottom:13px;
    display:flex;
}

.list-area .list .checkbox {
    margin-right:10px;
    width:15px;
    height:15px;
}

.list-area .list .checkbox .material-icons.unchecked
{
    font-size:15px;
    color:#A7BBC7;
    cursor:pointer;
}

.list-area .list .material-icons.del-btn
{
    font-size:15px;
    color:#A7BBC7;
    position:absolute;
    right:0;
    margin-right:10px;
}


.input-area {
    width:100%;
    position:absolute;
    bottom:0;
    display:flex
}

.input-area .text-box {
    width:95%;
    height:23px;
    border:1px solid #e5e5e5;
    border-radius:10px;
    box-sizing:border-box;
    font-size:12px;
    background-color:#ffffff;
    outline:none;
    padding-left:7px;
}

.task.done {
    text-decoration-line: line-through;
}

.input-area .material-icons.add-btn {
    font-size:15px;
    color:#A7BBC7;
    line-height:23px;
    margin-left:10px;
    cursor:pointer;
}

@keyframes progressbar {
    0% {
        width: 0;
    }
    100% {
        width:33%;
    }
}

/* 768 미만일 때 */
@media (max-width: 768px) {

}